body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

header {
    text-align: center;
    padding: 40px;
    background: #020617;
}

h1 {
    color: #38bdf8;
}

.card {
    background: #020617;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(56,189,248,0.3);
}

a {
    color: #38bdf8;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 15px;
    background: #020617;
    margin-top: 30px;
}
